* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

.card {
  width: 300px;
  height: 350px;
  background-color: violet;
  border-radius: 18% 11% 3% 17%/2% 2% 34% 4%;
  text-align: center;
  font-family: cursive;
}
.card .title {
  width: 100%;
  font-size: 50px;
  margin:30px auto;
}

.card .body {
  font-size:20px;
  margin-bottom: 30px;
  padding: 10px 20px;
}

button{
  width: 60%;
  padding: 10px 5px;
  font-size: 20px;
  font-family: cursive;
  border: none;
  border-radius: 18% 11% 3% 17%/2% 2% 34% 4%;
  background-color: rgb(53, 13, 53);
  color: whitesmoke;
}